@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Funnel Display', Poppins, Inter, Roboto, Arial, sans-serif;
  background: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
